Package: com.chr1s.discordvideoloop
Name: discord video loop
Version: 1.0.0
Architecture: iphoneos-arm
Description: Loop discord videos
Maintainer: Chr1s
Author: Chr1s
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
